.about-section {
  text-align: center;
  max-width: 72rem;
  margin: 0 auto;
}

.about-section__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-primary);
  margin: 15.4rem 0 2rem 0;
}

@media screen and (max-width: 768px) {
  .about-section__title {
    margin-top: 8rem;
  }
}

.about-section__description {
  max-width: 68rem;
  font-size: 1.6rem;
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 5rem;
}

.about-section__video-box {
  width: 100%;
  height: 42rem;
  background: linear-gradient(
    140deg,
    var(--color-vedio-secondary) 25%,
    var(--color-vedio-primary) 70%,
    var(--color-vedio-primary)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem;
}

.about-section span {
  cursor: pointer;
}
