.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 2.5rem;
  background: linear-gradient(140deg, var(--color-seondary) 25%, var(--color-primary) 60%, var(--color-primary));
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  text-align: center;
  color: #fff;
  max-width: 58rem;
  padding: 14rem 0 32rem;
}

.header__title {
  margin-bottom: 4.2rem;
  font-size: 4.4rem;
  font-weight: 400;
}

.header__description {
  line-height: 2.5rem;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  max-width: 43rem;
  margin: 0 auto 4.2rem;
}

.header__buttons {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}

.arrow-icon {
  display: inline-block;
  padding: 0.4rem;
  border-radius: 10rem;
  background-color: var(--color-primary);
  color: white;
  margin-left: 5px;
}

.container::after {
  content: '';
  position: absolute;
  pointer-events: none;
  left: -3rem;
  right: -6rem;
  z-index: -1;
  bottom: 0;
  height: 23rem;
  background: url('/assets/wave.png');
  background-size: 100%;
  z-index: -1;
  opacity: 1;
}
