.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  gap: 0.8rem;
  height: 3.9rem;
  cursor: pointer;
}

.nav__links {
  padding-top: 0.3rem;
  display: flex;
  gap: 1.5rem;
  margin-left: 7rem;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
}

@media screen and (max-width: 600px) {
  .nav__links {
    display: none;
  }
}

.active {
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  transition:
    all 3s ease,
    visibility 0s linear 0.3s;
}

.nav__links a {
  text-transform: capitalize;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .nav__links a {
    color: rgb(156, 156, 156);
    font-size: 2rem;
  }
}

.close-button {
  text-align: right;
  font-size: 3rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  .close-button {
    display: unset;
  }
}

/* Hamburger Menu */
.nav__hamburger {
  cursor: pointer;
  display: none;
  color: white;
}

@media screen and (max-width: 600px) {
  .nav__hamburger {
    display: unset;
  }
}

.nav__controls {
  display: flex;
  gap: 1.2rem;
}

.nav__dropdown {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-box option {
  background-color: red;
  color: black;
}

/* For Responsive navbar */
.nav__logo-links {
  flex-basis: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__button-box {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1100px) {
  .nav {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .nav__logo-links {
    flex-basis: unset;
    width: 100%;
    padding-inline: 1rem;
    margin-top: 1rem;
  }

  .nav__button-box {
    align-items: start;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
