.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  gap: 0.8rem;
  /* max-width: 20rem; */
  height: 3.9rem;
  cursor: pointer;
}

.nav__links {
  padding-top: 0.3rem;
  display: flex;
  gap: 1.5rem;
  margin-left: 7rem;
}

.nav__links a {
  text-transform: capitalize;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav__controls {
  display: flex;
  gap: 1.2rem;
  /* margin-left: auto; */
}

.nav__dropdown {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-box option {
  background-color: red;
  color: black;
}

/* For Responsive navbar */
.nav__logo-links {
  flex-basis: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__button-box {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1100px) {
  .nav {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .nav__logo-links {
    flex-basis: unset;
    width: 100%;
    padding-inline: 1rem;
    margin-top: 1rem;
  }

  .nav__button-box {
    align-items: start;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
