.document__section {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  padding: 9rem 0;
}

@media screen and (max-width: 680px) {
  .document__section {
    padding: 5rem 0;
  }
}

.wrapper {
  max-width: 106.3rem;
  display: flex;
  gap: 5rem;
}

@media screen and (max-width: 680px) {
  .wrapper {
    flex-direction: column;
    margin: 0 auto;
  }
}

.document__image-container {
  max-width: 42rem;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 680px) {
  .document__image-container {
    margin: 0 auto 3rem;
  }
}

.document__content {
  padding-right: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .document__content {
    text-align: center;
    padding-right: unset;
  }
}

.document__title {
  font-size: 3.6rem;
  color: var(--color-white);
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 680px) {
  .document__title {
    font-size: 2.8rem;
  }
}

.document__description {
  font-size: 1.6rem;
  color: #fad3d2;
  font-weight: 400;
  margin-bottom: 5rem;
}

@media screen and (max-width: 680px) {
  .document__title,
  .document__description {
    margin-bottom: 3rem;
  }

  .document__description {
    max-width: 45rem;
  }
}

@media screen and (max-width: 380px) {
  .document__description {
    margin-bottom: 3rem;
  }

  .document__description {
    max-width: 33rem;
    margin: 0 auto 3rem;
  }
}

/* Button styling */

.button-group-container {
  display: flex;
  gap: 3rem;
  text-transform: capitalize;
}

@media screen and (max-width: 680px) {
  .button-group-container {
    justify-content: center;
  }
}

.mb {
  margin-bottom: 2rem;
}

.arrow-icon {
  display: inline-block;
  margin-left: 2rem;
}

.custom-button {
  max-width: 20rem;
  width: 100%;
}
